<template>
  <div>
    <div class="row q-pa-md bg-secondary">
      <div align="left" class="text-h5 col-6 text-white">Winner O-Net</div>
      <div align="right" class="col-6">
        <q-btn class="q-mx-sm" color="primary" icon="fas fa-user" label="อดิศร  รู้เพียร" />
        <q-btn class="q-mx-sm" color="indigo" icon="fas fa-chart-line" />
        <q-btn class="q-mx-sm" color="red" icon="fas fa-sign-out-alt" />
      </div>
    </div>
    <div align="center" class="brx bg-cyan-3 q-pb-xl">
      <div style="width:700px">
        <div>
          <!-- ใส่สีพื้นหลัง bg-สี,ใส่สีข้อความ text-สี -->
          <div class="q-mt-lg text-h4 brx bg-red-11 boxtop">โรงเรียนเตรียมอุดมศึกษาเชียงราย</div>
        </div>
        <div align="center" class="brx bg-orange-1 boxbot">
          <div class="q-mt-xl text-h6">กรุณาเลือกข้อมูล</div>
          <div>
            <q-select
              class="q-ma-md bg-white"
              outlined
              v-model="classRoom"
              :options="options"
              label="ชั้น/ห้องเรียน"
            />
            <q-select
              class="q-ma-md bg-white"
              outlined
              v-model="classStory"
              :options="options1"
              label="คาบเรียน/เรื่อง"
            />
            <q-btn class="text-h6 q-mb-md" color="secondary" label="เรียน" style="width:300px"></q-btn>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      classRoom: "",
      classStory: "",
      // ใส่ชื่อใน Array แต่เก็บข้อมูลเป็นชุดให้แสดงชื่อและเก็บข้อมูลได้ตามต้องการ
      // label:ข้อความที่ขึ้น value:ข้อมูลที่จะเอาไปเก็บใน data
      options: [
        {
          label: "ทดสอบ1",
          value: "1"
        },
        {
          label: "ทดสอบ2",
          value: "2"
        }
      ],
      options1: [
        {
          label: "คาบ1",
          value: "1"
        },
        {
          label: "คาบ2",
          value: "2"
        }
      ]
    };
  }
};
</script>

<style>
.bg-red {
  background-color: red;
}
.brx {
  border: 1px solid red;
}
/* เส้นขอบด้านบนโค้ง */
.boxtop {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
/* เส้นขอบด้านล่างโค้ง */
.boxbot {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
</style>
