<template>
  <div>
    <div align="left" class="row q-pa-md bg-secondary text-h5 text-white">
      <q-icon name="fas fa-bars" />
      <div class="q-ml-xl text-h6 text-white">ประโยค</div>
      <div class="q-mx-sm text-h6 text-white"><</div>
      <div class="q-mx-sm text-h6 text-white">แก้ไขประโยค</div>
    </div>
    <div class="bg-blue-grey-10 q-pa-lg">
      <div align="center" class="text-white text-h4">แก้ไขประโยค</div>
    </div>
    <div class="bg-blue-grey-2 q-pb-xl q-pt-md">
      <!-- row justify-center จัดส่วนในrowให้อยู่ตรงกลาง -->
      <div class="bor row q-mx-md bg-white boxtop">
        <div class="q-mx-md bg-white text-h6 text-secondary">ทั่วไป</div>
        <div class="q-ml-md bg-white text-h6 text-secondary">เฉพาะ</div>
      </div>
      <div class="row bor q-mx-md bg-white">
        <q-input class="q-pa-md col-12" outlined v-model="wordEng" label="ประโยคภาษาอังกฤษ" />
        <q-input class="q-pa-md col-12" outlined v-model="wordTh" label="ประโยคภาษาไทย" />
        <q-input class="q-pa-md col-6" outlined v-model="passNum" label="รหัสลำดับ" />
        <q-input type="file" class="q-pa-md col-6 bg-gery-2" outlined v-model="text" />
      </div>
      <div class="row justify-center q-pt-lg q-mx-md q-pb-xl bg-white">
        <q-btn
          style="width:120px"
          class="q-mx-md shadow-4 text-black"
          color="grey-2"
          label="ยกเลิก"
        />
        <q-btn class="shadow-4" style="width:120px" color="secondary" label="บันทึก" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      wordEng: "",
      wordTh: "",
      passNum: ""
    };
  }
};
</script>

<style>
.bg-red {
  background-color: red;
}
.brx {
  border: 1px solid red;
}
.bor {
  border: 1px solid black;
}
/* เส้นขอบด้านบนโค้ง */
.boxtop {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/* เส้นขอบด้านล่างโค้ง */
.boxbot {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
</style>
