<template>
  <div>
    <div align="left" class="row q-pa-md bg-secondary text-h5 text-white">
      <q-icon name="fas fa-bars" />
      <div class="q-ml-xl text-h6 text-white">ประโยค</div>
      <div class="q-mx-sm text-h6 text-white"><</div>
      <div class="q-mx-sm text-h6 text-white">เพิ่มประโยค</div>
    </div>
    <div class="bg-blue-grey-10 q-pa-lg">
      <div align="center" class="text-white text-h4">เพิ่มประโยค</div>
    </div>
    <div class="bg-blue-grey-2 q-pb-xl q-pt-md">
      <div class="bor q-mx-md bg-white">
        <div class="row bor q-ma-md bg-white boxtop boxbot">
          <q-input class="q-pa-md col-6" outlined v-model="passNum" label="รหัสระดับ" />
          <div class="q-pa-md col-1 text-h6">เพิ่มเสียง</div>
          <q-input type="file" class="q-pa-md col-5 bg-gery-2" outlined v-model="text" />
          <q-input class="q-pa-md col-6" outlined v-model="other" label="เลือกตำแหน่ง" />
          <q-input class="q-pa-md col-6" outlined v-model="status" label="สถานการณ์" />
        </div>
        <div class="row bor q-mt-lg q-ma-md bg-white boxtop boxbot">
          <q-input class="q-pa-md col-12" outlined v-model="wordEng" label="ประโยคภาษาอังกฤษ" />
          <q-input class="q-pa-md col-12" outlined v-model="wordTH" label="ประโยคภาษาไทย" />
        </div>
      </div>
      <div class="row justify-center q-pt-lg q-mx-md q-pb-xl bg-white">
        <q-btn
          style="width:120px"
          class="q-mx-md shadow-4 text-black"
          color="grey-2"
          label="ยกเลิก"
        />
        <q-btn class="shadow-4" style="width:120px" color="secondary" label="บันทึก" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      passNum: "",
      other: "",
      status: "",
      wordEng: "",
      wordTH: ""
    };
  }
};
</script>

<style>
.bg-red {
  background-color: red;
}
.brx {
  border: 1px solid red;
}
.bor {
  border: 1px solid black;
}
/* เส้นขอบด้านบนโค้ง */
.boxtop {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/* เส้นขอบด้านล่างโค้ง */
.boxbot {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
</style>
