<template>
  <div>
    <div align="left" class="row q-pa-md bg-secondary text-h5 text-white">
      <q-icon name="fas fa-bars" />
      <div class="q-ml-xl text-h6 text-white">ตำแหน่ง</div>
      <div class="q-mx-sm text-h6 text-white">></div>
      <div class="q-mx-sm text-h6 text-white">แก้ไขตำแหน่ง</div>
    </div>
    <div class="bg-blue-grey-10 q-pb-xl">
      <div align="center" class="q-pa-xl text-white text-h4">แก้ไขตำแหน่ง</div>
      <!-- row justify-center จัดส่วนในrowให้อยู่ตรงกลาง -->
      <div class="row justify-center q-mx-md bg-white">
        <q-input class="col-3 q-mx-md q-my-xl" outlined v-model="numBer" label="ลำดับ" />
        <q-input class="col-3 q-mx-md q-my-xl" outlined v-model="other" label="ตำแหน่ง" />
        <q-input class="col-3 q-mx-md q-my-xl" outlined v-model="status" label="สถานะ" />
      </div>
      <div class="row justify-center q-mx-md q-pb-xl bg-white">
        <q-btn style="width:140px" class="q-mx-md" color="red" label="ยกเลิก" />
        <q-btn style="width:140px" color="secondary" label="บันทึก" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      numBer: "",
      other: "",
      status: ""
    };
  }
};
</script>

<style>
.bg-red {
  background-color: red;
}
.brx {
  border: 1px solid red;
}
/* เส้นขอบด้านบนโค้ง */
.boxtop {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
/* เส้นขอบด้านล่างโค้ง */
.boxbot {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
</style>
