<template>
  <div>
    <div align="left" class="row q-pa-md bg-secondary text-h5 text-white">
      <q-icon name="fas fa-bars" />
      <div class="q-ml-xl text-h6 text-white">สถานประกอบการ</div>
      <div class="q-mx-sm text-h6 text-white">></div>
      <div class="q-mx-sm text-h6 text-white">แก้ไข</div>
    </div>
    <div class="bg-blue-grey-10 q-pa-lg">
      <div align="center" class="text-white text-h4">สถานประกอบการ</div>
    </div>
    <div class="bg-blue-grey-2 q-pb-xl q-pt-md">
      <div class="row justify-center bor q-mx-md bg-white">
        <q-input class="q-pa-md col-6" outlined v-model="passNum" label="รหัสระดับ" />
        <q-input class="q-pa-md col-6" outlined v-model="status" label="สถานการณ์" />
        <div class="brx row col bor q-mx-md q-mb-xl bg-white">
          <q-input style="width:50%" class="q-pa-md" outlined v-model="otherN" label="ชื่อแผนก" />
          <q-btn class="q-ma-md" round color="secondary" icon="fas fa-plus" />
          <div class="col-12 q-ma-md">
            <q-btn
              unelevated
              rounded
              icon-right="fas fa-times-circle"
              color="secondary"
              label="Front"
            />
            <q-btn
              class="q-mx-md"
              unelevated
              rounded
              icon-right="fas fa-times-circle"
              color="secondary"
              label="Cafe"
            />
          </div>
        </div>
      </div>
      <div class="row justify-center q-pt-lg q-mx-md q-pb-md bg-white">
        <q-btn
          style="width:120px"
          class="q-mx-md shadow-4 text-black"
          color="grey-2"
          label="ยกเลิก"
        />
        <q-btn class="shadow-4" style="width:120px" color="secondary" label="บันทึก" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      passNum: "",
      status: "",
      otherN: ""
    };
  }
};
</script>

<style>
.bg-red {
  background-color: red;
}
.brx {
  border: 1px solid red;
}
.bor {
  border: 1px solid black;
}
/* เส้นขอบด้านบนโค้ง */
.boxtop {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/* เส้นขอบด้านล่างโค้ง */
.boxbot {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
</style>

