<template>
  <div class="q-pa-xl">
    <!-- <q-btn @click="tum()" class="mybtn" label="clickme" color="red"></q-btn>
    <q-btn @click="tum1()" class="mybtn" label="clickme" color="green"></q-btn>-->
    <div>
      <!-- <q-btn label="show1" @click="tum2(1)" class="mybtn" color="red"></q-btn>
      <q-btn label="show2" @click="tum2(2)" class="mybtn" color="blue"></q-btn>
      <q-btn label="showObj " @click="showObj()"></q-btn>-->
    </div>
    <!-- เกรด -->
    <div>
      <h1>
        <center>{{hel}}</center>
      </h1>
      <br />
      <div class="q-pa-md" align="center">
        <q-input label="Score" v-model="scorer"></q-input>
        <q-btn @click="result()" label="result" class="mybtn q-ma-md"></q-btn>
        <div>
          <h3>{{showRe}}</h3>
        </div>
      </div>
    </div>
    <div
      v-for="(item,index) in aray"
      :key="index"
    >ครั้งที่{{index+1}}มี A จำนวน{{item.A}}ตัว มี B จำนวน{{item.B}}ตัว มี C จำนวน{{item.C}}ตัว มี D จำนวน{{item.D}}ตัว มี E จำนวน{{item.E}}ตัว</div>
    <div v-show="isShow1">
      <h1>show1</h1>
    </div>
    <div v-show="isShow2">
      <h1>show2</h1>
    </div>
  </div>
</template>

<script>
import { EILSEQ } from "constants";
export default {
  data() {
    return {
      scorer: "",
      hel: "Hello World",
      aray: [
        { A: 1, B: 2, C: 3, D: 4, E: 5 },
        { A: 6, B: 7, C: 8, D: 9, E: 10 }
      ],
      myObj: { computer: 10, air: 5 },
      isShow1: false,
      isShow2: false,
      showRe: ""
    };
  },
  methods: {
    result() {
      if (this.scorer < 50) {
        this.showRe = "ไม่ผ่านเกณฑ์";
      } else if (this.scorer <= 59) {
        this.showRe = "ผลลัพธ์ = D";
      } else if (this.scorer <= 69) {
        this.showRe = "ผลลัพธ์ = C";
      } else if (this.scorer <= 79) {
        this.showRe = "ผลลัพธ์ = B";
      } else if (this.scorer <= 100) {
        this.showRe = "ผลลัพธ์ = A";
      } else {
        this.showRe = "ไม่สามารถแสดงผลลัพธ์ได้";
      }
    }
    // tum() {
    //   this.$q
    //     .dialog({
    //       title: "Alert",
    //       message: "Some message",
    //       position: "top",
    //       dark: true,
    //       cancel: "ยกเลิก",
    //       ok: "ตกลง"
    //     })
    //     .onOk(() => {
    //       // console.log('OK')
    //     });
    // },
    // tum1() {
    //   this.$q.notify({
    //     message: "Jim pinged you",
    //     color: "purple",
    //     position: "center"
    //   });
    // },
    // tum2(mode) {
    //   //   this.isShow1 = true;
    //   //   this.isShow2 = false;
    //   //   console.log(mode);
    //   if (mode == 1) {
    //     console.log("นี่คือ Mode1");
    //     this.isShow1 = true;
    //     this.isShow2 = false;
    //   } else {
    //     console.log("นี่คือ Mode2");
    //     this.isShow1 = false;
    //     this.isShow2 = true;
    //   }
    // },
    // showObj() {
    //   console.log("มีแอร์" + this.myObj.air + "ตัว");
    //   console.log("1" + 1);
    // }
  }
};
</script>

<style lang="scss" scoped>
.mybtn {
  width: 200px;
}
</style>