<template>
  <div align="center" class="brx">
    <!-- qเปิดแท็ก pรูปแบบ aลักษณะ xlขนาด -->
    <div style="width:700px" class="brx q-pa-xl q-ma-xl shadow-6">
      <!-- แทรก Icon -->
      <q-icon name="fas fa-user" style="font-size:100px " />
      <!-- Input Username -->
      <q-input v-model="username" label="username" class="q-pa-xl">
        <!-- ใส่ Icon หน้า label -->
        <template v-slot:prepend>
          <q-icon name="fas fa-user" />
        </template>
      </q-input>
      <!-- Input password -->
      <q-input label="password" class="q-pa-xl">
        <template v-slot:prepend>
          <q-icon name="fas fa-unlock" />
        </template>
      </q-input>
      <div class="q-gutter-sm" align="left">
        <q-checkbox v-model="check" label="Remember me" />
      </div>
      <div class="q-gutter-sm" align="right">Forgot your password?</div>
      <!-- login -->
      <div align="center" class="q-py-xl">
        <q-btn color="green" label="login" style="width:300px"></q-btn>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  //ประเภทตัวแปล
  //1.string 2.number 3.boolean 4.Array
  data() {
    return {
      username: "",
      password: "",
      check: false
    };
  }
};
</script>

<style>
.bg-red {
  background-color: red;
}
.brx {
  border: 1px solid red;
}
</style>
