<template>
  <div align="center">
    <div class="q-ma-md text-h4">ประวัติ</div>
    <div class="row">
      <q-input v-model="name" label="ชื่อ" class="col-6 q-pa-xl"></q-input>
      <q-input v-model="surname" label="สกุล" class="col-6 q-pa-xl"></q-input>
    </div>
    <div class="row q-pa-xl">
      <q-radio v-model="gender" val="ชาย" label="ชาย" />
      <q-radio v-model="gender" val="หญิง" label="หญิง" />
    </div>
    <div class="row">
      <q-input v-model="add" label="บ้านเลขที่" class="col-6 q-pa-xl"></q-input>
      <q-input v-model="tambon" label="ตำบล" class="col-6 q-pa-xl"></q-input>
    </div>
    <div class="row">
      <q-input v-model="amper" label="อำเภอ" class="col-6 q-pa-xl"></q-input>
      <q-select v-model="jangwad" :options="myoption" label="จังหวัด" class="col-6 q-pa-xl" />
    </div>
    <div class="row">
      <q-input v-model="paisanee" label="รหัสไปรษณีย์" class="col-6 q-pa-xl"></q-input>
      <q-checkbox v-model="check" val="check1" label="check1" class="col-3" />
      <q-checkbox v-model="check" val="check2" label="check2" class="col-3" />
    </div>
  </div>
</template>
<script>
export default {
  //ประเภทตัวแปล
  //1.string 2.number 3.boolean 4.Array
  data() {
    return {
      name: "",
      surname: "",
      gender: "",
      add: "",
      tambon: "",
      amper: "",
      check: [],
      // ใส่ชื่อใน Array แล้วเก็บตามชื่อเลย
      myoption: [
        "กรุงเทพฯ",
        "นนทบุรี",
        "สมุทรปราการ",
        "สกลนคร",
        "ชัยภูมิ",
        "สิงห์บุรี",
        "ขอนแก่น"
      ],
      jangwad: "",
      paisanee: ""
    };
  }
};
</script>
<style>
.bg-red {
  background-color: red;
}
.brx {
  border: 1px solid red;
}
</style>
